extends _main

block style
    link(rel='stylesheet', href='css/index.css')

block content
    // hero
    .hero
        .container
            .left
                .logo
                    img.logo-white(src='img/logo-white.svg' alt='AARDVARC logo')
                    img.logo-red(src='img/logo-red.svg' alt='AARDVARC logo')
            .right
                h2 Digging Deep into your Curriculum
                p
                    | Work smarter, not harder. Let !{name} (the
                    |
                    b A
                    | utomated
                    |
                    b A
                    | pproach to
                    |
                    b R
                    | eviewing
                    |
                    b D
                    | eveloping
                    |
                    b V
                    | aluable
                    |
                    b A
                    | ssessment
                    |
                    b R
                    | esources for your
                    |
                    b C
                    | urriculum) help you streamline your programmatic, curricular, faculty, teaching, and experiential data.

            .red-circle-wrapper
                .red-circle.down
    .hero-color-block

    // quick preview
    .preview.container
        .browser-wrapper.inner-container
            h2 A Quick Preview
            .browser
                .window-bar
                    .control-btn
                        .red-btn
                        .yellow-btn
                        .green-btn
                .link-bar
                    .nav-btn
                        img.prev(src='img/left-arrow.svg' alt='left arrow')
                        img.next(src='img/right-arrow.svg' alt='right arrow')
                    .address-bar
                .content-pane
                    img(src='' class='hero-preview-img' alt='hero preview image')

            .browser.pdf-browser
                .window-bar
                    .control-btn
                        .red-btn
                        .yellow-btn
                        .green-btn
                .pdf-pane
                    img(src='img/pdf-preview.png' class='hero-pdf-img' alt='pdf preview')

            .browser-controller
                .left-side
                    .control-card.red.selected
                        p.index 01
                        p.info Course Editor Invitation & List of Contents
                        .mark
                    .control-card.red
                        p.index 02
                        p.info General Course Information
                        .mark
                    .control-card.red
                        p.index 03
                        p.info Generate and Upload Syllabus
                        .mark
                    .control-card.yellow
                        p.index 04
                        p.info Manage Courses by Departments and Semesters
                        .mark
                .right-side
                    .control-card.yellow
                        p.index 05
                        p.info Create New Courses
                        .mark
                    .control-card.yellow
                        p.index 06
                        p.info Manage Instructors by Departments
                        .mark
                    .control-card.yellow
                        p.index 07
                        p.info Appoint Instructors to Courses
                        .mark
                    .control-card.green
                        p.index 08
                        p.info Generate Reports
                        .mark

        .preview-info.inner-container
            p
            a(href='demo' target='_blank').demo: p Check the demo


    // news
    .news.container
        h2.section-title News
        p.news-content
        p.news-date
        .news-controller
            .prev-news
                img(src='img/left-arrow.svg' alt='left arrow')
            .next-news
                img(src='img/right-arrow.svg' alt='right arrow')


    // features
    .wrapper
        .features.container
            h2.section-title Features
            .cards.inner-container
                .card
                    img.card-img-top(src='img/features-1.png', alt='Card image cap')
                    .card-body
                        h5.card-title Syllabus
                        ul.content
                            li Manage and centralize syllabi
                            li Streamline the review of syllabi
                        // <button type="button" class="btn btn-outline" onclick="location.href='syllabus.html'">LEARN MORE</button>
                .card
                    img.card-img-top(src='img/features-2.png', alt='Card image cap')
                    .card-body
                        h5.card-title Management
                        ul.content
                            li Improve curricular and programmatic assessment
                            li Address faculty workloads
                            li Facilitate peer review of teaching process
                .card
                    img.card-img-top(src='img/features-3.png', alt='Card image cap')
                    .card-body
                        h5.card-title Reports
                        ul.content
                            li Enhance reporting to senior leadership
                            li Improve the overall efficiency of academic and business operations
                            li Identify experiential program activities

    // creators
    .creators.container
        h2.section-title Co-founders
        .people.inner-container
            .person
                img.avatar(src='img/lan.jpg' alt='dab')
                p.name Ian Haworth, PhD
            .person
                img.avatar(src='img/maryann.jpg' alt='dab')
                p.name Maryann Wu, EdD
            .person
                img.avatar(src='img/dab.jpg' alt='dab')
                p.name Dab Brill, PhD

    // quotes
    .quotes
        .container
            h2.section-title Testimonials
            p.section-subtitle People who used !{name} have said some nice things...
            .quotes-wrapper
                .quote
                    .quote__box
                        p “Wow, !{name} 2.0 is a working like a dream! Props to you and your team!”
                    //-.quote__img
                        img(src='img/maryann.jpg' alt='maryann')
                    .quote__text
                        p.quote__text__name Rory E. Kim, PharmD, MACM, BCACP
                        p.quote__text__title Assistant Professor of Clinical Pharmacy.
                        p.quote__text__title USC School of Pharmacy
                .quote
                    .quote__box
                        p
                        | “We did not have the correct verbiage in our syllabus, that was also a big problem.
                        | We fixed that thanks to all of your collective input and Maryann and Ian’s !{name}.”
                    //-.quote__img
                        img(src='img/maryann.jpg' alt='maryann')
                    .quote__text
                        p.quote__text__name Julie A. Dopheide, PharmD, BCPP, FASHP
                        p.quote__text__title Professor of Clinical Pharmacy, Psychiatry and the Behavioral Sciences
                        p.quote__text__title USC School of Pharmacy and Keck School of Medicine
                .quote
                    .quote__box
                        p “The new version of !{name} looks amazing.”
                    //-.quote__img
                        img(src='img/maryann.jpg' alt='maryann')
                    .quote__text
                        p.quote__text__name Ingrid Steiner, MA, MS
                        p.quote__text__title Instructional Designer
                        p.quote__text__title USC Center for Excellence in Teaching
                .quote
                    .quote__box
                        p
                            | “The new !{name} is awesome.  Really easy to enter all the information now.
                            | Nice interface. Looks really professional. Great job.”
                    //-.quote__img
                        img(src='img/maryann.jpg' alt='maryann')
                    .quote__text
                        p.quote__text__name Angel P. Tabancay, PhD
                        p.quote__text__title Lecturer of Pharmacology and Pharmaceutical Sciences
                        p.quote__text__title USC School of Pharmacy

    .card-wrapper
        .contact-success-card
            h1 Thank you for contacting us.
            p We will be working with you very soon!
            button OK

block append script
    script(src="js/index.min.js")
