extends _main

block style
    link(rel='stylesheet', href='css/story.css')

block content
    .story.container
        h2.section-title The Story of !{name}
        .inner-container
            h3 2017
            p In 2017, Dr. Ian Haworth and Dr. Maryann Wu served as Director of Curriculum and Director of Assessment at the University of Southern California (USC) School of Pharmacy.  With an imminent accreditation site visit, and the need to quickly gather curriculum and assessment data in a systematic way, Drs. Haworth and Wu set their sights out on creating a unique and novel technological solution that could go beyond the task of collecting hundreds of documents and spreadsheets and ultimately revolutionizing the way that academic and business operations were completed.
            p Drs. Haworth and Wu approached Dabrick Brill, a PhD student in Dr. Haworth’s lab, about the idea of creating a web-based syllabus portal that could standardize the way that faculty create their syllabi, allow them to generate their syllabi online, streamline the review and tracking of syllabi for administrators, improve curricular and programmatic assessment, address faculty workloads, assist with accreditation, enhance reporting senior leadership, and improve the overall efficiency of academic and business operations.
            p In 2017, !{name} (the Automated Approach to Reviewing and Developing Valuable Assessment Resources for your Curriculum) was born.  The School was fully re-accredited in 2017 and word began to quickly spread on the utility of the software product that was built.
            h3 2018
            p In 2018, with the support of the USC Stevens Center for Innovation and the USC School of Pharmacy, a provisional patent was filed on the product.  !{name} was also recognized by USC during 2018 World Intellectual Property Day and thereafter by Results Magazine, a biannual publication by the USC School of Pharmacy, highlighting the School’s latest advancements and achievements.  Seeing the tremendous impact and potential of !{name}, Dean Vassilios Papadopoulos hired Dr. Dabrick Brill full-time (who had since graduated from USC with his PhD) to continue to work with Drs. Haworth and Wu to expand its development.
            h3 2019
            p In 2019, !{name} was recognized by the American Association of Colleges of Pharmacy (AACP) and the co-founders were selected to present at the 2019 AACP Annual Meeting, the largest annual gathering of academic pharmacy administrators, faculty, and staff.
            p Since its launch, !{name} had included five additional team members, including Mrunmayee Shirodkar, Lead Developer for !{name} and data analyst, Mukesh Poptani, a backend developer, Ravi Adkathimar, a backend developer and tester, Jianxuan (Mars) Tan, a front end developer, and Aileen Li, a Curriculum and Assessment Support Specialist.
            p The founders of !{name} have presented to multiple colleges and universities and are now working with USC to utilize !{name} for recent initiatives, including its: 1) excellence in teaching initiative that includes faculty syllabus review and peer observation in the classroom.
            p In addition, 2019 saw the expansion of !{name} to several other schools, including the Keck School of Medicine of USC. As part of the new partnership, several training sessions have been successfully hosted between !{name} and Keck staff, enabling the Keck School of Medicine to transition to using the software for the Spring 2020 semester.
            h3 2020
            p Several new features were added to the !{name} platform to improve the utility and functionality of the platform.  Both !{name}-PROF (Peer Review of Faculty) and !{name}-POWER (Preceptors Offering Wisdom through Experiential Rotations) are now fully utilized at the USC School of Pharmacy and were featured at the 2020 AACP Virtual Meeting.  !{name} also received honorable mention for the 2020 AACP Award for Excellence in Assessment.
            p In 2020, !{name} also went international and was featured at the International Association of Medical Science Educators (IAMSE) in Kuala Lumpur.


block append script
